
.manage_menu{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.manage_menu .navigation{
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}
.manage_menu .navigation div {
    background: rgba( 40, 75, 99, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.manage_menu .navigation div h1{
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    
}
.manage_menu .me{
    margin-top: 20px;
    width: 90%;
    height: 75%;
    display: flex;
    justify-content: space-around;
}
.manage_menu .me h1{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}
.manage_menu .me div{
    height: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}
.manage_menu .history_shortcut{
    width: 35%;
}
.manage_menu .me .mystock_shortcut{
    width: 60%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    text-align: center;

}
.mystock_table{
    margin-left: auto;
    margin-right: auto;
}
.manage_menu .me .mystock_shortcut table{
    margin-top: 20px;
    width: 90%;
    height: 60%;
    border-radius: 5px;
    
}
table, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
  }

.navigation a{
    text-decoration: none;
}