*{
    padding: 0;
    margin: 0;
}

.container-all .sidebar{
    background-color: #284B63;
    width: 15%;
    height: 100%;
    overflow: hidden;

}
.container-all .sidebar .section-container{
    margin-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.container-all .sidebar .section{
    background-color: #153243;
    width: 80%;
    border-radius: 5%;
    height: 80px;
    margin-bottom: 30px;
    color: white;
    font-family: Arial;
    font-size: larger;
}
.container-all .sidebar .section img{
    margin-top: 10px;
    height: 50%;
    width: auto;
}

.material-symbols-outlined {

font-size: 50px;}