*{
    padding: 0;
    margin: 0;
}

.container-all .sidebar{
    background-color: #284B63;
    width: 15%;
    height: 100vh;
    overflow: hidden;
}
.container-all .sidebar .section-container{
    margin-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.container-all .sidebar .section{
    width: 80%;
    border-radius: 5%;
    height: 8vh;
    margin-bottom: 30px;
    color: white;
    font-family: Arial;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    justify-content: left;
}
.container-all .sidebar .section img{
    margin-top: 10px;
    height: 50%;
    width: auto;
}
.container-all .sidebar .section .material-symbols-outlined{
    font-size: 50px;
}
.container-all .sidebar .section  span {

    font-size: 20px;
    line-height: 80px;
}

.container-all .sidebar .section a{
    text-decoration: none;
    color: white;

}

.title{
    color: rgb(148, 191, 255);
}
@media screen and (max-width: 1920px) {
   
    
}

